.contact-container {
    border-radius: 25px;
    padding: 2em;
    background-color: white;
    text-align: center;

    /* display center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container-content {
    padding: 2rem;
}

#input-email {
    width: 35rem;
    height: 2rem;
    text-align: center;
    border-radius: 25px;
    border: solid;
}

#input-subject {
    width: 35rem;
    height: 3rem;
    text-align: center;
    border-radius: 25px;
    border: solid;
}

#email-subject {
    border-radius: 25px;
    border: solid;
    text-align: center;
    width: 40em; 
    height: 20em;
}


@media only screen and (max-width: 650px) {
    
    #input-contact {
        width: 20rem;
        border-radius: 25px;
        border: solid;
    }

    #input-email {
        width: 20rem;
        height: 2rem;
        text-align: center;
        border-radius: 25px;
        border: solid;
    }

    #input-subject {
        width: 20rem;
        height: 3rem;
        text-align: center;
        border-radius: 25px;
        border: solid;
    }
    
    #email-subject {
        border-radius: 25px;
        border: solid;
        
        width: 25em; 
        height: 20em;
    }
}

@media only screen and (max-height: 850px) {
    .contact-container {
        overflow: none !important;
        max-height: calc(100vh - 100px);
        max-width: 100vw - 100px;
        width: 100%;
        border-radius: 25px;
        background-color: white;
        text-align: center;
        position: absolute;
        top: 48%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 400px) {
    .contact-container {
        border-radius: 25px;
        padding: 2em;
        background-color: white;
        text-align: center;
    
        /* display center */
        position: absolute;
        top: 50%;
        left: 40%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}