/* Entities */
button {
    cursor: pointer;
}

body {
    max-height: calc(100vh - 150px);
    height: 100%;
    /* position: absolute; */
}

html {
    max-height: 100vh;
    height: 100%;
}

 /* ID's */
#nav-bar {
    position: fixed;
    vertical-align: top;
    top: 0;
    max-width: 100vw;
    width: 100%;
    background-color: black;
    z-index: 900;
}

#hamburger-div {
    border-color: white;
    background-color: white;
}

#hamburger-icon {
    background-color: white;
    width: 5em;
    height: 4.5em;
}


/* Classes */
.header-title {
    color: white;
}
/* --------------------------- */
.website-query,
.software-query,
.consultation-query {
    max-width: 250px;
    padding: 30px;
    width: auto;
    color: black;
    text-align: center;
}

.quries {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 52%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.query-button {
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 10px;
}

/* --------------------------- */
.about-us-home {
    max-width: calc(100vw / 2);
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.home-icon {
    width: 70px;
    height: 70px;
}

.dropdown-list {
    background-color: black !important;
}

.active {
    color: greenyellow !important;
}

.non-active {
    color: white !important;
}

.footer {
    position: fixed;
    max-width: 100vw;
    width: 100%;
    background-color: black;
    color: white;

    text-align: center;
    bottom: 0;
    vertical-align: bottom;
}

/* Media Queries */